@import 'https://fonts.googleapis.com/css?family=Oxygen';

html {
    background-color: #fdfaf8;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    animation: fadeIn 2s;
}

a {
    color: #132dbf;
    text-decoration: none;
    font-size: large;
    border-bottom: 1px dotted;
    border-bottom-color: #fdfaf8;
    padding-bottom: 3px;
    transition-property: border-bottom-color;
    transition-duration: 1s;
}

a:visited {
    color: #132dbf;
}

a:hover {
    border-bottom-color: #132dbf;
}